/* layout */

.offer_full_desc.skin_default {

  div.left {
    float: left;
    width: 621px;

    /* скроем навигационную галерею, если в ней один элемент */
    div.bottom {
      &.count_1 {
        height: 0 !important;
        overflow: hidden;
      }
    }

  }

  div.right {
    float: left;
    width: calc(100% - 621px);
    padding-left: 40px;
  }

}