.offer_list_widget_wrapper {
  clear: both;

  div.offer_list_widget {

    ul {

      margin: 0;
      padding: 0;
      list-style: none;

      > li {

        float: left;
        display: inline-block;
        margin-right: 15px;

        > * {
          float: left;
          clear: both;
        }

        a.lazy-image-wrapper {
          background-color: #F8F8F8 !important;
        }

      }

    }

  }
}