div.offer_list_grouped {

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      padding-right: 20px;
      padding-top: 3px;
      padding-bottom: 3px;

      &.odd {}
      &.even { background-color: rgba(0,0,0,0.03); }

      &:hover { background-color: rgba(0,0,0,0.08); }

    }
  }

  div.offer_price {
    float: right;
    display: inline-block;
  }

}