.big_gallery_wrapper {
  padding: 0;
  overflow: hidden;

  img {
    max-width: 100%;
  }

  button {
    z-index: 999;
  }


}

.nav_gallery_wrapper {

  img {
    max-width: 100%;
  }

}







/*
  .slick-prev,
  .slick-next {

    &:before {
      font-size: 60px;
      color: #FECC00;
      content: '';
    }

    width: 50px !important;
    height: 51px !important;
    cursor: pointer;
    position: absolute;

    &.slick-prev {
      background: image-url("arrows.png") no-repeat top left ;
      top: 105px;
      left: -53px;
      &:hover {
        background: image-url("arrows.png") no-repeat bottom left;
      }
    }

    &.slick-next {
      background: image-url("arrows.png") no-repeat top right;
      top: 105px;
      right: -49px;
      &:hover {
        background: image-url("arrows.png") no-repeat bottom right;
      }
    }

  }

  .slick-dots {
    float: left;
    position: relative;
    top: 16px;
    width: 100%;
    z-index: 999;
  }

  .slick-dots li {
    margin: 0;
  }

  .slick-dots li button {

    background: transparent image-url("slide.png") no-repeat top center;

    width: 12px;
    height: 14px;
    border-radius: 999px;
    cursor: pointer;
    overflow: hidden;
    display: block;


    &:before {
      content:"";
      width: 0;
      position: absolute;
      */
/* font-size: 6px;
       line-height: 20px;
       position: absolute;
       top: 0px;
       left: 0px;
       width: 20px;
       height: 20px;
       text-align: center;
       opacity: 0.25;
       color: #000;*//*

    }

  }

  .slick-active button {
    background: image-url("slide-hower.png") no-repeat top center !important;
  }
*/